data/documents/original/*
data/documents/extracted/*
data/text_chunks/*
!data/documents/original/.gitkeep
!data/documents/extracted/.gitkeep
!data/text_chunks/.gitkeep
*/__pycache__
/.docker/zsh/history/.zsh_history
/.docker/zsh/powerlevel10k/.p10k.zsh

